<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_bg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimSanBong">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TimSanBong.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.FieldDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.BookingActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.MyBookingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.TimSanBong.NoActionBar" />

    </application>

</manifest>
